<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solarexsoft.moudlea" >

    <application
        android:name="com.solarexsoft.modulea.independent.MoudleAApplication">
        <activity android:name=".ModuleAActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
